name: Run E2E Tests

on: [pull_request]

jobs:
  run-e2e-tests:
    name: Run E2E Tests
    runs-on: ubuntu-latest

    services:
      postgres:
        image: bitnami/postgresql
        ports:
          - 5432:5432
        env:
          POSTGRESQL_USERNAME: ${POSTGRES_USER}
          POSTGRESQL_PASSWORD: ${POSTGRES_PASSWORD}
          POSTGRESQL_DATABASE: ${POSTGRES_DB}

    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: 'pnpm'
      - run: pnpm ci
      - run: pnpm test:e2e
        env:
          JWT_SECRET: testing
          DATABASE_URL: postgres://${env.POSTGRES_USER}:${env.POSTGRES_PASSWORD}@${env.POSTGRES_HOST}:${env.POSTGRES_PORT}/${env.POSTGRES_DB}
